---
import { Icon } from "astro-icon/components";

export interface Props {
  href: string;
  icon: string;
  icon_color?: string;
  text: string;
  text_color?: string;
  targetBlank?: boolean;
}

const { href, icon, icon_color, text, text_color, targetBlank } = Astro.props;
---

<a
  class="flex w-fit items-center hover:text-blue transition-colors"
  href={href}
  target={targetBlank ? "_blank" : undefined}
  rel={targetBlank ? "noopener noreferrer" : undefined}
>
  <Icon class=`w-6 h-6 ${icon_color}` name={icon} />
  <span class=`ml-2 text-lg tracking-widest ${text_color}`>{text}</span>
</a>
