---
import IconTextLink from "@/components/IconTextLink.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import Pagination from "@/components/Pagination.astro";
import Title from "@/components/Title.astro";
import { getAllEntries, sortEntriesByDateDesc } from "@/libs/blog";

import type { GetStaticPathsOptions, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import moment from "moment";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  return paginate(sortEntriesByDateDesc(await getAllEntries()), {
    pageSize: 5,
  });
}

const { page } = Astro.props as {
  page: Page<CollectionEntry<"blog">>;
};
---

<PageLayout title="blog" description="blog">
  <Title icon="ri:book-2-fill" title="blog" />
  {
    page.data.map((entry) => (
      <ul class="space-y-4">
        <li>
          <article class="space-y-1">
            <IconTextLink
              href={`/blog/${entry.slug}`}
              icon={entry.data.title_icon}
              text={entry.data.title}
            />
            <p class="text-sub">
              {moment(entry.data.date).format("YYYY-MM-DD")}
            </p>
            {entry.data.tags.map((tag) => (
              <a href={`/blog/tags/${tag}`} class="text-tag">
                <span class="text-sub-darker dark:text-sub-darker-dark hover:text-blue transition-colors">
                  #{tag}
                </span>
              </a>
            ))}
          </article>
        </li>
      </ul>
    ))
  }
  <Pagination prev={page.url.prev} next={page.url.next} />
</PageLayout>
