---
import { type CollectionEntry, getCollection } from "astro:content";

import PageLayout from "@/layouts/PageLayout.astro";
import Title from "@/components/Title.astro";

import moment from "moment";

export async function getStaticPaths() {
  const entries = await getCollection("blog");
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: entry,
  }));
}

type Props = CollectionEntry<"blog">;

const entry = Astro.props;
const { Content } = await entry.render();
---

<PageLayout
  title=`${entry.data.title} - blog`
  description={entry.data.description}
  article
  blogComments
>
  <article class="m-auto space-y-6">
    <Title icon={entry.data.title_icon} title={entry.data.title} />
    <div class="prose dark:prose-dark space-y-6">
      <Content />
    </div>
    <p class="text-sub">
      {moment(entry.data.date).format("YYYY-MM-DD")}
    </p>
    {
      entry.data.tags.map((tag) => (
        <a href={`/blog/tags/${tag}`}>
          <span class="text-sub-darker dark:text-sub-darker-dark hover:text-blue transition-colors">
            #{tag}
          </span>
        </a>
      ))
    }
  </article>
</PageLayout>
