---
import "@fontsource/dotgothic16/japanese-400.css";
import "@fontsource/zen-kaku-gothic-new/japanese-400.css";

import { ClientRouter } from "astro:transitions";

export interface Props {
  title?: string;
  description?: string;
  imageUrl?: string;
  url?: string;
  article?: boolean;
}

const { article } = Astro.props;
const description = Astro.props.description || "yanosea";
const imageUrl =
  Astro.props.imageUrl ||
  "https://avatars.githubusercontent.com/u/81510859?v=4";
const title = Astro.props.title ? `${Astro.props.title} | yanosea` : "yanosea";
const url = new URL(Astro.props.url || "", "https://yanosea.org/").toString();
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="image" content={imageUrl} />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      data-pagefind-default-meta="image[content]"
      property="og:image"
      content={imageUrl}
    />
    <meta
      name="twitter:card"
      content={article ? "summary_large_image" : "summary"}
    />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={imageUrl} />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.css"
      rel="stylesheet"
    />
    <script
      data-astro-rerun
      is:inline
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      type="text/javascript"></script>
    <script
      data-astro-rerun
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"
      type="text/javascript"></script>
    <ClientRouter fallback="swap" />
    <script is:inline>
      (function () {
        var storageKey = "currentTheme";
        var classNameDark = "dark";
        var preferDarkQuery = "(prefers-color-scheme: dark)";
        var mql = window.matchMedia(preferDarkQuery);
        var supportsColorSchemeQuery = mql.media === preferDarkQuery;
        var localStorageTheme = null;
        try {
          localStorageTheme = localStorage.getItem(storageKey);
        } catch (err) {}
        var localStorageExists = localStorageTheme !== null;

        if (localStorageExists) {
          if (localStorageTheme === classNameDark) {
            document.documentElement.classList.add(classNameDark);
          }
        } else if (supportsColorSchemeQuery && mql.matches) {
          document.documentElement.classList.add(classNameDark);
          try {
            localStorage.setItem(storageKey, classNameDark);
          } catch (err) {}
        }
      })();
    </script>
    <style>
      html:not(.dark):not(.light) {
        visibility: hidden;
      }
      @media (prefers-color-scheme: dark) {
        html:not(.dark):not(.light) {
          color-scheme: dark;
        }
      }
    </style>
    <script
      data-astro-rerun
      is:inline
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-SDLQKC1YPM"></script>
    <script data-astro-rerun is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-SDLQKC1YPM");
    </script>
  </head>
  <body
    class="min-h-screen font-default text-sm text-main dark:text-main-dark bg-background dark:bg-background-dark"
  >
    <script is:inline>
      (function () {
        document.documentElement.style.visibility = "visible";
        if (!document.documentElement.classList.contains("dark")) {
          document.documentElement.classList.add("light");
        }
      })();
    </script>
    <slot />
  </body>
</html>
